PORT=5001

OPENAI_API_KEY=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

OPENAI_MODEL=deepseek/deepseek-chat

OPENAI_VISION_MODEL=openai/gpt-4o-mini

SUPABASE_URL=https://viwnkznjcaxsawekzjma.supabase.co

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpd25rem5qY2F4c2F3ZWt6am1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMTU5MTIsImV4cCI6MjA5MDg5MTkxMn0.PhiVNWnuHAKI2AO72cIWLc34lyG5EZTjB6lqqKUwhks
